# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environments
venv/
.env/
.envrc

# VSCode & IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter/IPython
.ipynb_checkpoints/
*.ipynb
